extends ./layout/index

block contenido
      main.container.mt-5
            .row
                  .col-md-5
                        img(src="img/nosotros.jpg", alt="Imagen Sobre Nosotros", class="img-fluid")
                  .col-md-7
                        h1 #{pagina}
                        blockquote Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias, qui quod illo vel obcaecati, itaque fugit id delectus omnis perspiciatis cum, aut illum alias praesentium corporis accusantium. Officiis dolor necessitatibus assumenda asperiores delectus commodi, rem consectetur deleniti ipsam sapiente debitis, ea distinctio nesciunt soluta iure aspernatur nemo praesentium voluptatibus quae maxime libero. 

                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam autem soluta, voluptate numquam voluptas incidunt dicta possimus fugit!

                        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis asperiores exercitationem deleniti. Suscipit impedit distinctio a, error numquam explicabo corporis minus quasi. Fugiat doloribus nemo porro voluptas labore inventore temporibus eius libero expedita, quos dolorem placeat similique iure nostrum?
      .listado-iconos
            .container.mt-5.py-5.text-center
                  .row
                        .col-md-4
                              img(src="img/icono_seguridad.svg", alt="alt" class="img-fluid mb-4")
                              h2.mb-4 Seguridad
                              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, officiis.
                        
                        .col-md-4
                              img(src="img/icono_destinos.svg", alt="alt" class="img-fluid mb-4")
                              h2.mb-4 Destinos
                              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, officiis.

                        .col-md-4
                              img(src="img/icono_precios.svg", alt="alt" class="img-fluid mb-4")
                              h2.mb-4 Precios
                              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, officiis.